.upsert-container {
    height: auto;
    min-height: 100vh;
    border-radius: 5px;
    margin-bottom: 70px;
    padding: 10px 30px 30px;
    background-color: white;

    .title {
        padding: 10px 0 20px 0;
    }
}